*{
    background-color: rgb(238, 230, 230);
    
}
header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.t{
    border: 1px solid white;
    padding: 2px 2px 20px 2px;
    margin: 50px 300px 5px 300px;
    box-shadow: 5px 5px 25px rgb(198, 84, 101);
    background-color: rgb(213, 207, 198);
}
h1{
    color: red;
}
p{
    color: red;  
}


